[Unit]
Description=strategy service
After=network.target

[Service]
User=ubuntu
LimitNOFILE=1048576
WorkingDirectory=/home/ubuntu/ap/commands/admin-panel/api
ExecStart=/usr/bin/node /home/ubuntu/ap/commands/admin-panel/api/index.js --config.env local
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
