[Unit]
Description=platform service
After=network.target

[Service]
User=ubuntu
LimitNOFILE=1048576
WorkingDirectory=/home/ubuntu/ps/commands/platform-service
ExecStart=/usr/bin/node /home/ubuntu/ps/commands/platform-service/platform-service.js --config.env local
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
